name: ML CI Pipeline

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r fake-news-mlops/requirements.txt

    - name: Download NLTK data
      run: |
        python - <<EOF
        import nltk
        nltk.download('stopwords')
        nltk.download('wordnet')
        nltk.download('omw-1.4')
        EOF

    - name: Run training
      run: |
        python fake-news-mlops/src/train.py

    - name: Upload trained models
      uses: actions/upload-artifact@v4
      with:
        name: fake-news-model
        path: fake-news-mlops/models/
